/* Remove spinner (up/down arrows) from number inputs */
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spinner[type='number'] {
  -moz-appearance: textfield;
}
